body{
  text-align: center;
  margin: 0;
  background-color: rgb(34, 34, 34);
  color:white;
  
  /* background: rgba(0, 0, 0, 0.2)
  url("https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80");
   background-repeat: none;
   background-size: cover;
   background-blend-mode: lighten; 
   object-position: center center; */
}

/* testing */
.bgp{
  background-color: rgb(100,0,100);
}

#headshot{
  width: 100px;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: rgb(100, 100, 100); */
  background-color: rgb(100,0,0);
  align-items: center;
  /* font-size: 20px; */
  padding: 1em;
  /* min-height: 2em; */
}
.nav-options{
  display: flex;
  justify-content: space-evenly;
  width: 90vw;
  font-size: 30px;
}
.nav-option{
  color: red;
  text-decoration: none;
  font-weight: bold;
}
.nav-option:hover{
  color: white;
}
.currentPath{
  color: blue;
  font-size: larger;
}


.projects-container{
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
}
.project-card{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
width: 400px;
/* height: 450px; */
margin: 2em;
padding: 1em;
border: 1pt solid white;
border-radius: 20px;
}
.project-img{
  width: 380px;
  border-radius: 20px;
}
.project-name{
  margin: .5em 0 0 0;
}
.project-description{
  padding: 0 1em;
  margin: .5em 0;
  font-size: large;
  /* width: 340px; */
  color:lightgrey;
}
.link-row{
  /* justify-self: flex-end; */
  display: flex;
  justify-content:center;
}
.link-out{
  font-size:x-large;
  font-weight: bold;
  color:white;
}
.divider{
  margin: 0 0.5em;
}

.icon{
  color: white;
  font-size:80px;
  margin: 10px 40px;
}
.icon:hover{
  color: red;
}


#footer{
  /* background-color: rgb(100, 100, 100); */
  background-color: rgb(100,0,0);
}
.contact-row{
  display:flex;
  justify-content: center;
}
.contact-icon{
  /* margin: 10px 40px; */
}

/* For pdf */
.react-pdf__Page {
  margin-top: 10px;
}
.react-pdf__Page__textContent {
  border: 1px solid darkgrey;
  box-shadow: 5px 5px 5px 1px #ccc;
  border-radius: 5px;
}

.react-pdf__Page__annotations.annotationLayer {
  padding: 20px;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
}

button {
  margin-right: 10px;
  background: #3f51b5;
  color: white;
  border: none;
  padding: 5px 10px;
  width: 100px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px #ccc;
}
